*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("https://images.unsplash.com/photo-1519003722824-194d4455a60c?q=80&w=2070");

    background-size:cover;
    background-position:center;

    overflow:hidden;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    backdrop-filter:blur(4px);
}

.login-container{
    position:relative;
    width:420px;
    padding:40px;

    background:rgba(255,255,255,0.08);

    border:1px solid rgba(255,255,255,0.15);

    backdrop-filter:blur(18px);

    border-radius:25px;

    box-shadow:
    0 15px 40px rgba(0,0,0,.4);

    animation:fadeUp 1s ease;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.company-logo{
    width:90px;
    height:90px;

    margin:auto;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:45px;

    background:linear-gradient(
    135deg,
    #ff9900,
    #ffb703);

    box-shadow:
    0 0 30px rgba(255,153,0,.5);
}

h1{
    text-align:center;
    color:white;
    margin-top:20px;
    font-size:30px;
}

.subtitle{
    text-align:center;
    color:#d6d6d6;
    margin-top:8px;
    margin-bottom:30px;
}

.input-box{
    margin-bottom:20px;
}

.input-box input{
    width:100%;
    padding:16px;

    border:none;
    outline:none;

    border-radius:12px;

    background:rgba(255,255,255,.1);

    color:white;

    font-size:15px;

    transition:.3s;
}

.input-box input::placeholder{
    color:#cfcfcf;
}

.input-box input:focus{
    background:rgba(255,255,255,.15);

    box-shadow:
    0 0 15px rgba(255,183,3,.4);
}

.login-btn{
    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;
    font-weight:600;

    color:white;

    background:
    linear-gradient(
    135deg,
    #ff8c00,
    #ffb703);

    transition:.3s;
}

.login-btn:hover{
    transform:translateY(-3px);

    box-shadow:
    0 10px 25px rgba(255,183,3,.4);
}

.info{
    text-align:center;
    color:#d0d0d0;
    font-size:12px;
    margin-top:20px;
}

#message{
    text-align:center;
    margin-top:15px;
    color:white;
    font-weight:600;
}

@media(max-width:500px){

    .login-container{
        width:92%;
        padding:30px;
    }

    h1{
        font-size:24px;
    }
}
